[Unit]
Description=Phosphor U-Boot environment mgr, device tree -> dbus daemon

[Service]
ExecStart=/usr/bin/phosphor-u-boot-env-devtree-nodesd
Type=dbus
BusName=xyz.openbmc_project.MachineContext

[Install]
WantedBy=basic.target
